# 是否是顶级配置文件，设置为true的时候才会停止搜索.editorconfig文件
root = true

[*]
# 文件编码格式,一般为utf-8
charset = utf-8
# 缩进类型
indent_style = space
# 缩进数量
indent_size = 2
# 换行符类型格式,一般用lf
end_of_line = lf
# 末尾行后加多一行空行
insert_final_newline = true
# 删除行尾的空格
trim_trailing_whitespace = true
